In [1]:
#Importing the Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Invistico_Airline.csv')
data.head(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,3,3,0,3,5,3,2,0,0.0,satisfied
1,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,3,4,4,4,2,3,2,310,305.0,satisfied
2,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,3,3,4,4,4,2,0,0.0,satisfied
3,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,1,1,0,1,4,1,3,0,0.0,satisfied
4,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,2,2,0,2,4,2,5,0,0.0,satisfied

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Seat comfort                       129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Food and drink                     129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Inflight wifi service              129880 non-null  int64
 11  Inflight entertainment             129880 non-null  int64
 12  Online support                     129880 non-null  int64
 13  Ease of Online booking             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Cleanliness                        129880 non-null  int64
 19  Online boarding                    129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
 22  satisfaction                       129880 non-null  object
dtypes: float64(1), int64(17), object(5)
memory usage: 22.8+ MB

In [6]:
data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Gender,129880,2,Female,65899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Type,129880,2,Loyal Customer,106100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,129880.0,NaN,NaN,NaN,39.427957,15.11936,7.0,27.0,40.0,51.0,85.0
Type of Travel,129880,2,Business travel,89693,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Class,129880,3,Business,62160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Flight Distance,129880.0,NaN,NaN,NaN,1981.409055,1027.115606,50.0,1359.0,1925.0,2544.0,6951.0
Seat comfort,129880.0,NaN,NaN,NaN,2.838597,1.392983,0.0,2.0,3.0,4.0,5.0
Departure/Arrival time convenient,129880.0,NaN,NaN,NaN,2.990645,1.527224,0.0,2.0,3.0,4.0,5.0
Food and drink,129880.0,NaN,NaN,NaN,2.851994,1.443729,0.0,2.0,3.0,4.0,5.0
Gate location,129880.0,NaN,NaN,NaN,2.990422,1.30597,0.0,2.0,3.0,4.0,5.0
Inflight wifi service,129880.0,NaN,NaN,NaN,3.24913,1.318818,0.0,2.0,3.0,4.0,5.0
Inflight entertainment,129880.0,NaN,NaN,NaN,3.383477,1.346059,0.0,2.0,4.0,4.0,5.0
Online support,129880.0,NaN,NaN,NaN,3.519703,1.306511,0.0,3.0,4.0,5.0,5.0
Ease of Online booking,129880.0,NaN,NaN,NaN,3.472105,1.30556,0.0,2.0,4.0,5.0,5.0
On-board service,129880.0,NaN,NaN,NaN,3.465075,1.270836,0.0,3.0,4.0,4.0,5.0
Leg room service,129880.0,NaN,NaN,NaN,3.485902,1.292226,0.0,2.0,4.0,5.0,5.0
Baggage handling,129880.0,NaN,NaN,NaN,3.695673,1.156483,1.0,3.0,4.0,5.0,5.0
Checkin service,129880.0,NaN,NaN,NaN,3.340807,1.260582,0.0,3.0,3.0,4.0,5.0
Cleanliness,129880.0,NaN,NaN,NaN,3.705759,1.151774,0.0,3.0,4.0,5.0,5.0
Online boarding,129880.0,NaN,NaN,NaN,3.352587,1.298715,0.0,2.0,4.0,4.0,5.0
Departure Delay in Minutes,129880.0,NaN,NaN,NaN,14.713713,38.071126,0.0,0.0,0.0,12.0,1592.0
Arrival Delay in Minutes,129487.0,NaN,NaN,NaN,15.091129,38.46565,0.0,0.0,0.0,13.0,1584.0
satisfaction,129880,2,satisfied,71087,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

In [8]:
na_features = [feature for feature in data.columns if data[feature].isnull().sum()>1]

for feature in na_features:
  print(f"{feature}:{data[feature].isna().mean()*100:.3f}%missing value")

Arrival Delay in Minutes:0.303%missing value

Arrival Delay in Minutes
0.0       72753
1.0        2747
2.0        2587
3.0        2442
4.0        2373
          ...
391.0         1
1584.0        1
422.0         1
333.0         1
500.0         1
Name: count, Length: 472, dtype: int64