In [ ]:
#Importing the Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('food delivery costs.csv')
data.head(5)

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

In [ ]:
data.set_index('Order ID',inplace = True)

In [ ]:
data.sample(5)

,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
Order ID,,,,,,,,,,,
307,C1784,R2593,2024-01-11 00:49:24,2024-01-11 01:51:24,1639,30,Digital Wallet,5% on App,145,33,0
14,C3433,R2054,2024-02-04 18:48:54,2024-02-04 20:28:54,633,30,Digital Wallet,15% New User,51,14,50
940,C6031,R2946,2024-01-25 21:17:04,2024-01-25 22:03:04,470,40,Digital Wallet,15% New User,133,18,100
965,C7320,R2551,2024-02-05 01:09:09,2024-02-05 01:39:09,1127,0,Cash on Delivery,10%,131,13,0
347,C6315,R2425,2024-01-16 19:09:33,2024-01-16 19:40:33,876,50,Cash on Delivery,10%,177,35,0

In [ ]:
data.columns

Index(['Customer ID', 'Restaurant ID', 'Order Date and Time',
       'Delivery Date and Time', 'Order Value', 'Delivery Fee',
       'Payment Method', 'Discounts and Offers', 'Commission Fee',
       'Payment Processing Fee', 'Refunds/Chargebacks'],
      dtype='object')

In [ ]:
data.dtypes

Customer ID               object
Restaurant ID             object
Order Date and Time       object
Delivery Date and Time    object
Order Value                int64
Delivery Fee               int64
Payment Method            object
Discounts and Offers      object
Commission Fee             int64
Payment Processing Fee     int64
Refunds/Chargebacks        int64
dtype: object

In [ ]:
data['Order Date and Time'] = pd.to_datetime(data['Order Date and Time'])
data['Delivery Date and Time'] = pd.to_datetime(data['Delivery Date and Time'])
print(data['Delivery Date and Time'].dtypes)
print(data['Order Date and Time'].dtypes)

datetime64[ns]
datetime64[ns]

In [ ]:
data['Order Date'] = data['Order Date and Time'].dt.date
data['Order Time'] = data['Order Date and Time'].dt.time
data['Delivery Date'] = data['Delivery Date and Time'].dt.date
data['Delivery Time'] = data['Delivery Date and Time'].dt.time

In [ ]:
data.sample(5)

,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks,Order Date,Order Time,Delivery Date,Delivery Time
Order ID,,,,,,,,,,,,,,,
267,C8996,R2726,2024-01-24 00:09:15,2024-01-24 00:55:15,463,50,Credit Card,50 off Promo,130,50,0,2024-01-24,00:09:15,2024-01-24,00:55:15
336,C7293,R2887,2024-01-14 09:47:03,2024-01-14 11:34:03,1188,40,Credit Card,10%,171,24,0,2024-01-14,09:47:03,2024-01-14,11:34:03
11,C2685,R2379,2024-01-01 17:02:47,2024-01-01 18:21:47,868,0,Cash on Delivery,5% on App,149,36,0,2024-01-01,17:02:47,2024-01-01,18:21:47
93,C7278,R2052,2024-01-24 17:08:11,2024-01-24 18:19:11,1331,50,Cash on Delivery,15% New User,74,24,50,2024-01-24,17:08:11,2024-01-24,18:19:11
943,C9393,R2419,2024-01-24 11:10:10,2024-01-24 12:16:10,1248,20,Cash on Delivery,NaN,82,19,0,2024-01-24,11:10:10,2024-01-24,12:16:10

In [ ]:
data.drop(['Order Date and Time','Delivery Date and Time',],axis = 1,inplace = True)

In [ ]:
data.nunique().sort_values()

Payment Method              3
Discounts and Offers        4
Refunds/Chargebacks         4
Delivery Fee                5
Order Date                 38
Delivery Date              39
Payment Processing Fee     41
Commission Fee            151
Restaurant ID             621
Order Value               769
Customer ID               947
Delivery Time             994
Order Time                996
dtype: int64

In [ ]:
data.drop(['Customer ID','Restaurant ID',],axis = 1,inplace = True)

In [ ]:
data_update = data[['Order Date', 'Order Time', 'Delivery Date', 'Delivery Time', 'Order Value', 'Delivery Fee', 'Payment Method', 'Discounts and Offers',
      'Commission Fee', 'Payment Processing Fee', 'Refunds/Chargebacks']]

In [ ]:
data_update.head()

,Order Date,Order Time,Delivery Date,Delivery Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
Order ID,,,,,,,,,,,
1,2024-02-01,01:11:52,2024-02-01,02:39:52,1914,0,Credit Card,5% on App,150,47,0
2,2024-02-02,22:11:04,2024-02-02,22:46:04,986,40,Digital Wallet,10%,198,23,0
3,2024-01-31,05:54:35,2024-01-31,06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
4,2024-01-16,22:52:49,2024-01-16,23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
5,2024-01-29,01:19:30,2024-01-29,02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

In [ ]:
data_update['Discounts and Offers'].value_counts()

Discounts and Offers
10%             233
50 off Promo    201
15% New User    198
5% on App       183
Name: count, dtype: int64

In [ ]:
import re

def get_number(d):
  if isinstance(d,str):
    number = re.findall(r'[0-9]',d)
    return ''.join(number)
  return '0'

In [ ]:
data_update['Discounts and Offers'] = data['Discounts and Offers'].apply(get_number)

In [ ]:
data_update['Discounts and Offers'].value_counts()

Discounts and Offers
10    233
50    201
15    198
0     185
5     183
Name: count, dtype: int64

In [ ]:
# data information

data_update.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order Date              1000 non-null   object
 1   Order Time              1000 non-null   object
 2   Delivery Date           1000 non-null   object
 3   Delivery Time           1000 non-null   object
 4   Order Value             1000 non-null   int64
 5   Delivery Fee            1000 non-null   int64
 6   Payment Method          1000 non-null   object
 7   Discounts and Offers    1000 non-null   object
 8   Commission Fee          1000 non-null   int64
 9   Payment Processing Fee  1000 non-null   int64
 10  Refunds/Chargebacks     1000 non-null   int64
dtypes: int64(5), object(6)
memory usage: 93.8+ KB

In [ ]:
data_update['Total cost'] = data_update.apply(lambda X: X['Order Value']+X['Delivery Fee']+X['Commission Fee']+X['Payment Processing Fee']+X['Refunds/Chargebacks'],axis = 1)
data_update.head()

,Order Date,Order Time,Delivery Date,Delivery Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks,Total cost
Order ID,,,,,,,,,,,,
1,2024-02-01,01:11:52,2024-02-01,02:39:52,1914,0,Credit Card,5,150,47,0,2111
2,2024-02-02,22:11:04,2024-02-02,22:46:04,986,40,Digital Wallet,10,198,23,0,1247
3,2024-01-31,05:54:35,2024-01-31,06:52:35,937,30,Cash on Delivery,15,195,45,0,1207
4,2024-01-16,22:52:49,2024-01-16,23:38:49,1463,50,Cash on Delivery,0,146,27,0,1686
5,2024-01-29,01:19:30,2024-01-29,02:48:30,1992,30,Cash on Delivery,50,130,50,0,2202

In [ ]:
# Null Values

data_update.isna().sum().sort_values()

Order Date                0
Order Time                0
Delivery Date             0
Delivery Time             0
Order Value               0
Delivery Fee              0
Payment Method            0
Discounts and Offers      0
Commission Fee            0
Payment Processing Fee    0
Refunds/Chargebacks       0
dtype: int64

In [ ]:
data_update.duplicated().sum()

0

In [ ]:
data['Discounts and Offers'] = data['Discounts and Offers'].fillna(0)
data['Discounts and Offers'].value_counts()

Discounts and Offers
10%             233
50 off Promo    201
15% New User    198
0               185
5% on App       183
Name: count, dtype: int64

In [ ]:
data_update.convert_dtypes().dtypes

Order Date                        object
Order Time                        object
Delivery Date                     object
Delivery Time                     object
Order Value                        Int64
Delivery Fee                       Int64
Payment Method            string[python]
Discounts and Offers      string[python]
Commission Fee                     Int64
Payment Processing Fee             Int64
Refunds/Chargebacks                Int64
dtype: object

In [ ]:
data.dtypes

Order Value                int64
Delivery Fee               int64
Payment Method            object
Discounts and Offers      object
Commission Fee             int64
Payment Processing Fee     int64
Refunds/Chargebacks        int64
Order Date                object
Order Time                object
Delivery Date             object
Delivery Time             object
dtype: object

TypeError: unsupported type for timedelta days component: list

In [ ]:
# Basic Statistics

data_update.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Order Date,1000,38,2024-01-13,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order Time,1000,996,04:21:19,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delivery Date,1000,39,2024-01-13,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delivery Time,1000,994,06:36:39,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order Value,1000.0,NaN,NaN,NaN,1053.969,530.975339,104.0,597.75,1038.5,1494.0,1995.0
Delivery Fee,1000.0,NaN,NaN,NaN,28.62,16.958278,0.0,20.0,30.0,40.0,50.0
Payment Method,1000,3,Cash on Delivery,357,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Discounts and Offers,1000,5,10,233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Commission Fee,1000.0,NaN,NaN,NaN,126.99,43.06405,50.0,90.0,127.0,164.0,200.0
Payment Processing Fee,1000.0,NaN,NaN,NaN,29.832,11.627165,10.0,20.0,30.0,40.0,50.0
Refunds/Chargebacks,1000.0,NaN,NaN,NaN,28.3,49.614228,0.0,0.0,0.0,50.0,150.0

In [ ]:
data.nunique()

Order Value               769
Delivery Fee                5
Payment Method              3
Discounts and Offers        5
Commission Fee            151
Payment Processing Fee     41
Refunds/Chargebacks         4
Order Date                 38
Order Time                996
Delivery Date              39
Delivery Time             994
dtype: int64

In [ ]:
# Numerical Features

num_fe = [feature for feature in data.columns if data[feature].dtype != 'O']
print("No. of numerical features:", len(num_fe))
data[num_fe].head()

No. of numerical features: 5

,Order Value,Delivery Fee,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
Order ID,,,,,
1,1914,0,150,47,0
2,986,40,198,23,0
3,937,30,195,45,0
4,1463,50,146,27,0
5,1992,30,130,50,0

In [ ]:
# Categorical Features

cat_fe = [feature for feature in data.columns if data[feature].dtype == 'O']
print("No. of categorical features :", len(cat_fe))
data[cat_fe].head()

No. of categorical features : 6

,Payment Method,Discounts and Offers,Order Date,Order Time,Delivery Date,Delivery Time
Order ID,,,,,,
1,Credit Card,5,2024-02-01,01:11:52,2024-02-01,02:39:52
2,Digital Wallet,1 0,2024-02-02,22:11:04,2024-02-02,22:46:04
3,Cash on Delivery,1 5,2024-01-31,05:54:35,2024-01-31,06:52:35
4,Cash on Delivery,,2024-01-16,22:52:49,2024-01-16,23:38:49
5,Cash on Delivery,5 0,2024-01-29,01:19:30,2024-01-29,02:48:30